.card img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}
.card-body {
    text-align: center;
}
#show-more {
    display: block;
    width: 100%;
    margin: 20px auto;
}
#blog-cards-container:hover{
    cursor: pointer;
}
body{

    background-color: #e1ebfa;
}
.breadcrumb {
    background-color: #f8f9fa;
    border-radius: 0.25rem;
    padding: 10px 15px;
    margin: 0 20px;
    margin-bottom: 20px;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: '>';
}

.card:hover .share-btn {
    display: block !important;
  }
  
.card-details{
    border-left: solid 4px #283687 !important;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-radius: 4px;
    padding-left: 10px;
    background-color: #e1ebfa;
}
  @media (max-width: 576px) {
    .card-l.is-loading {
        width: 98%;
    }
}

@media (min-width: 577px) and (max-width: 992px) {
    .card-l.is-loading {
        width: 45%;
    }
}

@media (min-width: 993px) {
    .card-l.is-loading {
        width: 30%;
    }
}

  .card-l {
    margin: 10px;
    width: 30%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  
    .image {
      img {
        max-width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
  
    .content {
      padding: 20px 30px;
    }
  }
  
  .card-l.is-loading {
    .image,
    h2,
    p {
      background: #eee;
      background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
      border-radius: 5px;
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;
    }
  
    .image {
      height: 200px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  
    h2 {
      height: 30px;
    }
  
    p {
      height: 70px;
    }
  }
  
  @keyframes shine {
    to {
      background-position-x: -200%;
    }
  }
  